/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #3a2620; /* dark brown */
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Quicksand", sans-serif;
  --font-accent: "Economica", sans-serif;
}

/* Global styles */

body {
  font-family: var(--font-body);
  background-color: #272322;
}

/* NavBar */

.nav-link {
  margin-left: 42px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 21px;
}

.logo {
  width: 50px;
}

/* Hero */

.hero {
  height: 500px;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  width: 600px;
}

/* Pink Banner */

.pink-banner {
  background-color: rgba(204, 0, 255, 0.9);
  color: white;

  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.newsletter-p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.email-wrapper {
  position: relative;
  width: 70%;
}

.email {
  color: pink;
  border-radius: 20px;
  border-style: none;

  padding-left: 15px;
  padding-right: 50px;

  height: 40px;
  width: 100%;
}

::placeholder {
  color: pink;
  padding-left: 10px;
  font-family: "Economica", sans-serif;
}

.email-button {
  position: absolute;

  top: 50%;
  right: 5px;

  transform: translateY(-50%);

  border: none;
  background: white;

  width: 30px;
  height: 30px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.fa-arrow-right {
  color: pink;
}

/* Events */

.events-wrapper {
  position: relative;
}

.events-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  z-index: 2;
  text-align: center;
}

.events-home-div {
  position: relative;
  z-index: 1;
}
.events-home-div {
  display: flex;

  background-color: rgb(202, 188, 188);
}

.events-home-div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.events-home-img {
  width: 20%;
  height: clamp(100px, 25vw, 450px);
  object-fit: cover;
  opacity: 0.7;
}

.events-header {
  z-index: 3;
}

/* Mission */

.mission {
  text-align: center;
  height: 500px;
}

.mission-div {
  padding: 100px;
}

.mission-h2 {
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  outline: black 1px;
  text-shadow: rgba(204, 0, 255, 0.9) 0px 0px 18px;
  -webkit-text-stroke: 1px rgba(204, 0, 255, 0.9);
}

.mission-p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
}

.mission-button {
  background-color: rgba(204, 0, 255, 0.9);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  border: none; /* removes bootstrap/button border */
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  box-shadow: none;
}

/* Mission Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 9999;
}

.modal-content {
  background-color: #272322;
  margin: 15% auto;
  padding: 40px 30px 30px 30px; /* extra top padding */
  border: 1px solid #888;
  width: 80%;
  color: white;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Soundcloud Banner */

.soundcloud {
  height: 300px;
  text-align: center;
  background-image: url("../images/soundcloud.png");
}

.soundcloud-div {
  padding: auto;
}

.soundcloud-h2 {
  padding-top: 60px;
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  outline: black 1px;
  text-shadow: rgba(227, 100, 10, 0.9) 0px 0px 18px;
  -webkit-text-stroke: 1px rgba(227, 100, 10, 0.9);
}

.soundcloud-p {
  color: rgba(227, 100, 10, 0.9);
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
}

.soundcloud-button {
  background-color: rgba(227, 100, 10, 0.9);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;

  border: none; /* removes bootstrap/button border */
  border-radius: 4px;

  padding: 8px 16px;

  outline: none;
  box-shadow: none;
}

/* Footer*/

.footer1 {
  color: aliceblue;
  height: 175px;
  background-color: #272322;
  border-bottom: aliceblue solid 1px;
}

.footer2 {
  color: aliceblue !important;
  height: 75px;
  background-color: #272322;
}

.socailsListOption {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: aliceblue;
  border-radius: 50%;
  margin: 5px;
}

.fa-brands {
  color: #322926;
  font-size: 20px;
}

.footerLogo {
  width: 100px !important;
}

.footerEmail,
.yorkePages {
  text-decoration: none !important;
  color: aliceblue;
}

a {
  text-decoration: none !important;
}

.copyrightLogo {
  padding-right: 4px;
}

.footer1 .col-12,
.footer2 .col-12 {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

/*  ------   EVENTS PAGE  ------  */
.events-div {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  border-bottom: aliceblue solid 1px;
}

.events-writing {
  width: auto;
}

.events-info-p {
  margin-bottom: 10px;
}

.events-info {
  padding-bottom: 17px;
}

.events-page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
  padding-top: 0px;
}

.events-poster {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.events-p {
  width: 300px;
  font-size: 12px;
}

.events-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 33px;
  padding-bottom: 17px;
}

.events-p {
  font-family: "Quicksand", sans-serif;
}

.fa-solid {
  color: rgba(204, 0, 255, 0.9);
  width: 22px;
  padding-right: 3px;
}

.event-button {
  display: block;
  width: 180px; /* or 100% if you want full width */
  margin-bottom: 10px; /* space between buttons */
  text-align: center;
}

.event-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.event-buttons a {
  width: 200px; /* consistent button width */
  text-align: center;
}

.info-button {
  display: none;
}

/* ----- RESIDENTS PAGE -----*/

.email-section {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #272322;
}

.email-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  max-width: 700px;
}

.email-h2 {
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  color: white;

  text-shadow: rgba(204, 0, 255, 0.9) 0px 0px 18px;
  -webkit-text-stroke: 1px rgba(204, 0, 255, 0.9);

  margin: 0;
}

.email-p {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  color: white;
  max-width: 500px;
  margin: 0;
}

.email-email {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  color: rgba(204, 0, 255, 0.9);
  margin: 10px 0;
  word-break: break-word;
}



.email-copy-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.copy-button {
  background-color: rgba(204, 0, 255, 0.9);
  color: white;
  border: none;
  border-radius: 4px;

  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.copy-button:hover {
  opacity: 0.9;
}

.email-email {
  margin: 0;
}


.socials-section {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #272322; /* matches your body/footer */
}

.socials-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  max-width: 700px;
}

.socials-h2 {
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  color: white;

  text-shadow: rgba(204, 0, 255, 0.9) 0px 0px 18px;
  -webkit-text-stroke: 1px rgba(204, 0, 255, 0.9);

  margin: 0;
}

.socials-p {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
  max-width: 500px;
}

/* Reuse + enhance your existing socials list */


.socailsList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 12px;
}

.socailsListOption {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: aliceblue;
  border-radius: 50%;

  transition: 0.2s ease;
  cursor: pointer;
}

.socailsListOption:hover {
  transform: translateY(-3px);
  background-color: rgba(204, 0, 255, 0.9);
}

.socailsListOption:hover i {
  color: white;
}

.fa-brands {
  color: #322926;
  font-size: 20px;
}

.youtube {
  height: 300px;
  text-align: center;
  background-image: url("../images/youtube.png"); /* optional */
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-info {
 display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.youtube-h2 {
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  color: white;

  text-shadow: rgba(255, 0, 0, 0.9) 0px 0px 18px;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0.9);
  margin: 0;
}

.youtube-p {
  color: rgba(255, 0, 0, 0.9);
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  margin: 0;
}

.youtube-button {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;

  border: none;
  border-radius: 4px;

  padding: 8px 16px;

  display: inline-block;
}

.youtube-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 25px;
  padding: 60px 20px;
}

.youtube-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Responsive iframe wrapper */
.youtube-video {
  width: 100%;
  max-width: 700px;
}

/* Make iframe responsive */
.youtube-video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: none;
}




/* Media Queries*/

@media screen and (max-width: 1120px) {
  .newsletter-p {
    font-size: 15px;
  }

  .mission-h2,
  .soundcloud-h2 {
    font-size: 60px;
  }

  .email {
    height: 30px;
  }

  .mission {
    height: 450px;
  }
}

@media screen and (max-width: 764px) {
  .hero {
    height: 400px;
  }
  .mission-h2 {
    font-size: 50px;
  }

  .mission-p {
    font-size: 13px;
  }

  .hero-logo {
    width: 400px;
  }

  .newsletter-p {
    margin-bottom: 5px;
  }

  .footer1 {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer1 .col-12 {
    padding-bottom: 20px;
  }

  .socailsList {
    padding: 0;
  }

  .footer2 {
    padding-top: 10px;
  }

  .footer2 .col-12 {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 350px;
  }

  .mission-button {
    padding: 5px 15px;
    height: 30px;
  }
  .newsletter-p {
    font-size: 12px;
  }
  .mission-h2,
  .soundcloud-h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }

  .mission {
    height: 350px;
  }

  .mission-div {
    padding: 50px;
  }

  .mission-button,
  .soundcloud-button {
    font-size: 15px;
  }

  .soundcloud {
    height: 250px;
  }
}

@media screen and (max-width: 415px) {
  .soundcloud {
    height: 220px;
  }

  .hero-logo {
    width: 300px;
  }
}

/*.  EVENTS PAGE MEDIA QUERIES.   */

@media screen and (max-width: 700px) {
  .events-poster {
    width: 200px;
  }
  .events-title {
    font-size: 23px;
  }
  .events-p {
    display: none;
  }
  .events-info-p {
    font-size: 14px;
  }
  .events-div {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .event-button {
    padding: 5px 15px;
    height: 30px;
    font-size: 15px;
  }

  .info-button {
    display: initial;
  }
}

@media (max-width: 575px) {
  .events-div {
    flex-wrap: nowrap;
  }

  .events-writing,
  .events-div > div.text-end {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .events-poster {
    width: 100%;
  }
}

@media (max-width: 450px) {
.event-buttons a {
    width: 150px;
}


.events-info-p {
    margin-bottom: 2px;
}
}
